# Виртуальное окружение (не нужно в репозитории)
venv/
env/
.venv/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы баз данных SQLite (все, с расширением .db и .sqlite)
*.db
*.sqlite

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Папки настроек популярных IDE
.vscode/
.idea/

# Логи
*.log